<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAh4cwNDKUTH_uCiGPz2CVQjTYFHu-IiU</string>
	<key>GCM_SENDER_ID</key>
	<string>529310738725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secure.protocol.zfzb</string>
	<key>PROJECT_ID</key>
	<string>vpn-477fc</string>
	<key>STORAGE_BUCKET</key>
	<string>vpn-477fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529310738725:ios:a82fcaa0a21415033f12cc</string>
</dict>
</plist>